@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
  @apply text-gray-800 bg-gray-50;
}

/* Remove default Vite root styling */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
